.card-hover {
    transition: transform 0.3s, box-shadow 0.3s;    
}
  
.card-hover:hover {
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-active {
    background-color: #ffffff;  /* Color de fondo para la letra seleccionada */
    color: black;               /* Color del texto */
    border: 2px solid #0A6847;  /* Borde para destacar */
}

.palabras{
    background-color: #F6E6B2;
}
  