<main class="main">
    <img src="./yellow.png" alt="" class="main__img">
    <div class="login-container">
        <div class="bold fs-2"> <a routerLink="/" class="Nombre">Signario</a></div>
        <form>
            <div class="mb-3 text-start">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="email" required #email>
            </div>
            <div class="mb-2 text-start">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" required #password>
            </div>
            <div class="mb-3 text-end">
                <a (click)="forgotPassword()" class="text-decoration-none text-primary" style="cursor: pointer;">Olvidé mi contraseña</a>
            </div>
            <button type="button" class="btn btn-success w-100" (click)="login(email, password)">Iniciar sesión</button>
            
            <!--
            <div class="my-3">
                <button type="button" class="btn btn-light btn-google w-100">
                    <img src="./GoogleLogo.png" alt="Google Logo">
                    Iniciar sesión con Google
                </button>
            </div>
            -->
            <br><br><br>
        </form>
        <p class="mt-3">¿Aún no tienes cuenta? <a routerLink="/register" class="text-success">Crear cuenta</a></p>
    </div>
</main>