<body class="body">
<br><br>
<br><br>
<br><br>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form [formGroup]="videoForm" (ngSubmit)="onSubmit()" class="card shadow p-4">
                    <h3 class="text-center mb-4">Subir nuevo video</h3>
                    
                    <div class="mb-3">
                        <label for="videoUrl" class="form-label">
                            URL del video <span class="text-muted">(Ejemplo: https://www.ejemplo.com/video.mp4)</span>
                        </label>
                        <input type="url" id="videoUrl" formControlName="videoUrl" class="form-control" placeholder="Introduce la dirección web del video">
                        
                        <div *ngIf="videoForm.get('videoUrl')?.invalid && (videoForm.get('videoUrl')?.touched || submitted)" class="text-danger mt-1">
                            <small>Por favor, ingresa una URL válida.</small>
                        </div>
                        
                        <small class="form-text text-muted">
                            Una URL (Localizador Uniforme de Recursos) es la dirección que identifica dónde se encuentra un recurso en la web. En la parte superior de la página actual podrá ver una
                        </small>
                        <div class="form-check">
                            <input class="form-check-input form-control" formControlName="corregir" type="checkbox" value="" id="corregir">
                            <label class="form-check-label ms-2" for="flexCheckDefault">
                              ¿Quieres que el vídeo sea corregido por un experto?
                            </label>
                        </div>
                    </div>
                    
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary" [disabled]="videoForm.invalid">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>


