.main__input--div3{
    width: 991px;
    height: 56px;
    border-radius: 20px;
    font-size: 1.5em;
    padding-left: 0.75em;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.75);
    border: none;
}

.main__input--div2{
    width: 991px;
    height: 56px;
    border-radius: 20px;
    font-size: 1.5em;
    padding-left: 0.75em;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.75);
    border: none;
    margin-left: 18em;
}

.lupita{
    font-size: 2em;
    color: #0A6847;

    margin-left: -1.5em;
    margin-top: 0.1em;
}