<body class="body mt-5">
    <main class="main">
        <!-- Título con la descripción obtenida -->
        <br>
        <div class="row my-5">
            <div class="col-12">
                <h2 class="text-center fw-bold">{{ nombre }}: {{ descripcion }}</h2>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <a class="btn btn-success me-2" style="max-width: 12em; margin-top: -2em;" [routerLink]="['/createVideo', { significado: descripcion, palabra: nombre}]">Añadir nuevo vídeo</a>
        </div>

        <app-video-list
            [videos]="videos"
        ></app-video-list>
    </main>
</body>
  